*,
html {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'open sans',sans-serif;
}

/* Style Navbar Start */
nav {
    margin: 10px;
    display: flex;
    line-height: 20px;
    position: sticky;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    border: 1px solid #A2B5BB;
    border-radius: 30px;
}

.wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
}

.logo a {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
    float: left;
    font-family: Verdana sans-serif;
    color: #A2B5BB;
}

.menu {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #A2B5BB; 
}
/* Style Navbar End */

/* Style Home Start */
section {
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-home {
    margin: 70px 0px 0px 100px;
    text-align: center; 
}

.judul-home {
    font-family: arial;
    font-size: 70px;
    text-shadow: 4px 4px 4px #aaa;
}

h2 {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.deskripsi-home {
    font-family: arial;
    font-size: 35px;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 17px;
}

button{
    width: 200px;
    margin: 20px 10px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background: transparent;
    border: 3px solid gray;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
}

button a {
    color: black;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

span {
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    background: gray;
    transition: 0.5s;
}

.gambar {
    height: 50%;
    width: 50%;
    margin: 30px 50px 50px 150px;
}
/* Style Home End */

/* Style About Start */
.about {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0 0 0;
    background-color: #9DB2BF;
}

.judul-about {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: black; 
}

.deskripsi-about {
    font-weight: 700;
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
}

.komponen-about {
    max-width: 100%;
    margin-bottom: 35px;
    display: flex;
}

.deskripsi-about1 {
    margin: 20px 60px 20px 50px;
}

.deskripsi-about2 {
    margin: 20px 60px 20px 30px;
}

.p-about {
    text-align: justify;
}
/* Style About End */


/* Style Contact Start */
.contact {
    max-width: 100%;
    margin: 30px auto 0px auto;
    padding: 0PX 25PX 0PX 25PX;
}

.komponen-contact {
    max-width: 100%;
    margin: 0 auto 20px;
    text-align: center;
    margin-bottom: 35px;
}

.judul-contact {
    font-weight: 600px;
    font-size: 20px;
    color: black; 
}

.deskripsi-contact {
    font-weight: 700;
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    margin-top: 20px;
}

.icon-sosmed {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.3rem;
    height: 2.3rem;
    margin-top: 15px;
    margin-right: 0.75rem;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.icon-sosmed svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

.icon-sosmed:hover {
    border-color: gray;
    background-color: gray;
    color: #fff;
}

.komponen-form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.form {
    width: 100%;
    max-width: 40rem;
    margin-bottom: 30px;
}


label {
    display: block;
    font-weight: bold;
    color: black; 
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    background-color: #D1D5DB;
    color: #000;
    outline: none;
    border: none;
    transition-duration: 150ms;
}

textarea {
    height: 100px;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 0.25rem rgba(59, 130, 246, 0.5);
    border-color: #3B82F6;
}

button[type="submit"] {
    display: block;
    width: 100%;
    max-width: 40rem;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    font-weight: 600;
    color: black;
    background-color: #CFD2CF; 
    cursor: pointer;
    transition-duration: 150ms;
}

button[type="submit"]:hover {
    opacity: 0.8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
/* Style Contact End */

/* Style Footer Start */
.footer {
    text-align: center;
    background-color: #CFD2CF;
    padding: 15px 20px 15px 20px;
}
/* Style Footer End */