body {
      font-family: Arial, sans-serif;
      background-color: #F5F5F5;
      margin: 0;
      padding: 0;
    }

    .judul {
      text-align: center;
      font-family: helvetica;

    }

    .container1{
      background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .contact1 {
      width: 50%;
      text-align: center;
      background-color: green;
    }

    .pesan1 {
      width: 50%;
      background-color: red;
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
    }

    .contact {
      text-align: center;
      margin: 10px;
      background-color: green;
    }

    .logo {
      height: 40px;
      margin: 5px;
    }

    .pesan {
      background-color: #fff;
      padding: 60px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background-color: blue;
    }
        .form-group {
          margin-bottom: 20px;
        }
    
        .form-group label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }
    
        .form-group input,
        .form-group textarea {
          width: 95%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
    
        .form-group textarea {
          resize: vertical;
        }
    
        .submit-btn {
          background-color: #4285f4;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          width: 100%;
        }
    
        .submit-btn:hover {
          background-color: #357ae8;
        }